.footer__menu-nav {
  width: 70%;
  margin-bottom: 56px;

  @include tablets {
    width: 100%;
    margin-bottom: 20px;
  }

  & .nav__link:hover {
    color: $links-footer;
  }
}

.nav__list.nav__list-footer {
  @include tablets {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.nav__item-footer {
  @include tablets {
    width: 25%;
    margin-bottom: 20px;
  }
}