.main {
  background: url('../images/content/MountainBaloon.jpg') center center / cover no-repeat;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 62px;
}

.header__logo {
  font-size: 36px;
  font-weight: 800;
  line-height: 30px;
}

.header__menu {
  width: 46%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  transition: all 0.3s;
  &:hover {
    color: #5500f2;
  }
}