.parallax-wrapper {
  background: url('../images/content/Mountain_Baloon.jpg') center center / cover no-repeat;
  height: 200vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
}

.header__logo {
  font-size: 36px;
  font-weight: 800;
  line-height: 30px;
}

.nav {
  width: 55%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  
  &:hover {
    text-decoration: underline;
  }
}