.header__social {
  width: 11%;
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.social__link-pic {
  height: 25px;
  transition: all .3s;
  &:hover {
    fill: #5500f2;
  }
} 