.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.scroll__desc {
  font-size: 18px;
  margin-right: 22px;
  transition: all 0.3s;

  &:hover {
    color: $links-color;
  }
}

.scroll__icon {
  width: 25px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    fill: $links-color;
  }
}