.header__social {
  width: 11%;

  @include desktop {
    width: 13%;
  }

  @include tablets {
    width: 20%;
    margin-right: 10%;
    margin-left: auto;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.social__link-pic {
  height: 25px;
  transition: all .3s;
  &:hover {
    fill: $links-color;
  }
} 