.author__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.content__text {
  opacity: 0.4;
  width: 15%;
  margin: 0 auto 33px auto;
}

.content__name {
  font-size: 72px;
  font-weight: 800;
  line-height: 60px;
  width: 30%;
  margin: 0 auto;
}