.works {
  padding-bottom: 145px;

  @include tablets {
    padding-bottom: 50px;
  }
}

.works__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 92px;

  @include tablets {
    margin-bottom: 54px;
  }
}