section.footer-section
  .container
    footer.footer
      .footer__copyright
        .footer__copyright-year &copy; 2019
        .footer__copyright-author
          .footer__copyright-name Сергей Антонов
          .footer__copyright-desc Личный сайт веб-разработчика
      include footer-menu