.footer__menu
  include footer-nav
  .footer__menu-content
    .footer__menu-social
      .footer__menu-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
      .footer__menu-links
        include footer-social
    blockquote.footer__menu-quote
      cito.footer__menu-quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
      .footer__menu-quote-author Martin Golding