section.greeting
            .container.container-centred
              .greeting__content
                .greeting__desc
                  .greeting__photo
                    +image('greeting/me.png', 'greeting__img')
                  table.greeting__table
                    tr.greeting__tr 
                      td.greeting__td Проживаю:
                      td.greeting__td Севастополь
                    tr.greeting__tr 
                      td.greeting__td Возраст:
                      td.greeting__td 28 лет
                    tr.greeting__tr 
                      td.greeting__td Родился:
                      td.greeting__td 19 марта 1991
                article.greeting__article
                  .greeting__hello Привет, меня зовут
                  h2.greeting__name Сергей Антонов
                  .greeting__what Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .greeting__about Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!