section.menu-section.fullscreen-section
  .container.container-column
    header.menu__header
      include menu-logo
      include menu-header
      include menu-social
      include menu-hamburger
    include menu-author
    include menu-scroll