script(type="text/x-template")#reviews-content
  .reviews-about
    .reviews-about__header
      .reviews-about__title Что обо мне говорят
      .reviews-about__buttons
        button.reviews__button(@click="previous" :disabled="currentSlideIndex === 0")
          +icon('Short Arrow', 'reviews__button-icon reviews__button-icon-prev')
        button.reviews__button(@click="next" :disabled="currentSlideIndex === slidesLength - 1")
          +icon('Short Arrow', 'reviews__button-icon reviews__button-icon-next')
    .reviews-about__slider
      .reviews__slider
        flickity(ref="flickity" :options="flickityOptions")
          li.reviews__item.carousel-cell(v-for="(review, index) in reviews" :key="index")
            review(v-bind="review")

script(type="text/x-template")#review
  .reviews__item-cell
    .reviews__item-quotes
      +icon('Quote', 'reviews__item-quotes-icon')
    .reviews__item-desc
      .reviews__item-text {{ text }}
      .reviews__item-authors
        .reviews__item-avatar
          img.reviews__item-avatar-img(:src="photo")
        .reviews__item-content
          .reviews__item-name {{ author }}
          .reviews__item-position {{ occ }}
