.reviews-about__slider
  .reviews__slider
    flickity(ref="flickity" :options="flickityOptions")
      li.reviews__item.carousel-cell(v-for="review in reviews")
        .reviews__item-quotes
          +icon('Quote', 'reviews__item-quotes-icon')
        .reviews__item-desc
          .reviews__item-text {{ review.text }}
          .reviews__item-authors
            .reviews__item-avatar
              img.reviews__item-avatar-img(:src="review.photo")
            .reviews__item-content
              .reviews__item-name {{ review.author }}
              .reviews__item-position {{ review.position }}
