section.service
  .container.service-container
    .services
      .services__title Чем я могу быть полезен вам
      .services__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .services__picture
      +image('services/backpack.png', 'services__img')
    .services__content
      include service-skills