.works__slider-info
  .slider-info
    .slider-info__tags
      - var tags = [ 'HTML', 'CSS', 'Javascript']
      ul.slider__tags
        each tag in tags
          li.slider__tags-item #{tag}
    .slider-info__title Сайт школы образования
    .slider-info__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
    a.slider-info__link(href="#" target="_blank")
      +icon('Link', 'slider-info__link-icon')
      .slider-info__link-text Посмотреть сайт