include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        
        .welcome-section

          include components/mountains-parallax

          include components/menu-section
            
          include components/greeting-section
          
        include components/triangles

        include components/service-section

        include components/works-section

        .contacts-section

          include components/budda-parallax

          include components/reviews-section

          include components/feedback-section

        include components/footer-section
  
    include components/service-skills
    include components/works-slider
    include components/feedback-form