include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        
        section.parallax
          .parallax__layer(data-speed="0.1")
            +image(`parallax/mountains/1.png`, 'parallax__image-mountain')
          .parallax__layer(data-speed="0.35")
            +image(`parallax/mountains/2.png`, 'parallax__image-mountain')
          .parallax__layer(data-speed="0.35")
            +image(`parallax/mountains/3.png`, 'parallax__image-mountain')
          .parallax__layer(data-speed="0.33")
            +image(`parallax/mountains/4.png`, 'parallax__image-mountain')
          .parallax__layer(data-speed="0.25")
            +image(`parallax/mountains/5.png`, 'parallax__image-mountain')
          .parallax__layer(data-speed="0.28")
            +image(`parallax/mountains/6.png`, 'parallax__image-mountain')
          .parallax__layer(data-speed="0.05")
            +image(`parallax/mountains/7.png`, 'parallax__image-mountain')

          include components/menu-section
            
          include components/greeting-section
          
        include components/triangles

        include components/service-section

        include components/works-section

        section.parallax
          .parallax__layer(data-speed="0.05")
            +image(`parallax/budda/1.jpg`, 'parallax__image-budda')
          .parallax__layer(data-speed="0.1")
            +image(`parallax/budda/2.png`, 'parallax__image-budda')
          .parallax__layer(data-speed="0.3")
            +image(`parallax/budda/3.png`, 'parallax__image-budda')
          .parallax__layer(data-speed="0.1")
            +image(`parallax/budda/4.png`, 'parallax__image-budda')
          .parallax__layer(data-speed="0.1")
            +image(`parallax/budda/5.png`, 'parallax__image-budda')
          .parallax__layer(data-speed="0.1")
            +image(`parallax/budda/6.png`, 'parallax__image-budda')
        
          include components/reviews-section
          include components/feedback-section

        include components/footer-section
