include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .parallax-wrapper
          section.section.menu-section.fullscreen-section
            .container.container-column
              header.header
                a(class='header__logo' href="#") СА
                +nav-menu('nav', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
                .header__social
                  ul.social__list
                    each social in ['Instagram', 'Vkontakte', 'Github']
                      li.social__item
                        a(class=`social__link social__link-${social}` href='#')
                          +icon(social, `social__link-pic`)
                #hamburgerButton.hamburger.hamburger--stand
                  .hamburger-box
                    .hamburger-inner
              .author__content
                .content__text Личный сайт веб разработчика
                h1.content__name Сергей Антонов
              .scroll
                a.scroll__desc Скролл
                +icon('Scroll', 'scroll__icon')
          section.section.hello
            .container.container-centred
              .greeting
                .greeting__desc
                  .greeting__photo
                    +image('greeting/me.png', 'greeting__img')
                  table.greeting__table
                    tr.greeting__tr 
                      td.greeting__td Проживаю:
                      td.greeting__td Севастополь
                    tr.greeting__tr 
                      td.greeting__td Возраст:
                      td.greeting__td 28 лет
                    tr.greeting__tr 
                      td.greeting__td Родился:
                      td.greeting__td 19 марта 1991
                article.greeting__article
                  .greeting__hello Привет, меня зовут
                  h2.greeting__name Сергей Антонов
                  .greeting__what Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .greeting__about Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!