include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .parallax-wrapper
          section.section.menu-section.fullscreen-section
            .container.container-centred
              header.header
                a(class='header__logo' href="#") СА
                +nav-menu('nav', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
                .header__social
                  ul.social__list
                    each social in ['Vkontakte', 'Instagram', 'Github']
                      li.social__item
                        a(class=`social__link social__link-${social}` href='#')
                          +icon(social, `social__link-pic`)
                #hamburgerButton.hamburger.hamburger--stand
                  .hamburger-box
                    .hamburger-inner
              .author__content
                .content__text Личный сайт веб разработчика
                h1.content__name Сергей Антонов
              .scroll
                a.scroll__desc Скролл
                +icon('Scroll', 'scroll__icon')