.about-section {
  padding-top: 60px;
}

.about__header {
  padding-bottom: 60px;
}

.about__title {
  font-size: 21px;
  font-weight: 700;
}

.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}