.app-input {
  border: none;
  background: none;
  border-bottom: 1px solid transparent;
  outline: none;
  padding-bottom: 5px;
  color: $text-color;
  width: 100%;

  &:focus {
    border-bottom-color: $links-color;
  }

  &::placeholder {
    font-size: 18px;
    font-weight: 600;
    opacity: .5;
  }

  &:disabled {
    opacity: 0.8;
  }
}