.app-button__reset {
  border: 0;
  background: none;
  color: $admin-color;
  font-weight: 600;
  margin-right: 60px;

  @include phones {
    margin-right: 10px;
  }
}

.app-button {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 20px 45px;
  background-image: linear-gradient(to right, #006aed 0%, #3f35cb 100%);
}