@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import "normalize.css";
@import "../../styles/mixins.pcss";
@import "../../styles/layout/base.pcss";
@import './*.pcss';

.admin-wrapper {
  background: url('../images/content/MountainBaloon.jpg') no-repeat;
  background-size: cover;
}